<div class="row">
    <div class="col-xs-6">
     <img src="assets/shef.jpg">
    </div>
    <div class="col-xs-6">
    <h1>About</h1>
    <div>
    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</br>
    </div>
    </div>
    <h3><%= link_to "もっと見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
</div>