<h2>ジャンル編集</h2>
<br>
<div class="edit-genre-form">
  <%= form_for(@genre, url: admins_genre_path) do |f| %>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name,class: "col-md-4" %>
    <%= f.submit "変更を保存" ,class: "btn btn-primary" %>
  <% end %>
</div>