  <div class="container">
    <div class_="row">
      <div class="col-xs-2">
        <div class="genrekara" style="font-size :20px;" >
            ジャンルから探す
        </div>
      </div>
    </div>
  </div>